*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.App{
  width: 1060px;
  text-align: center;
}
.open_modal_btn{
  background:white;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 5px 10px 3px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 5px 10px 3px rgba(34, 60, 80, 0.3);
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}
.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.3);
}
.close,.close > img {
  width: 32px;
  height: 32px;
  float: right;
  margin: 10px;
  cursor: pointer;
}
.modal{
  width: 600px;
  -webkit-box-shadow: 0px 5px 10px 3px rgb(34 60 80 / 30%);
  -moz-box-shadow: 0px 5px 10px 3px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 5px 10px 3px rgb(34 60 80 / 30%);
  border-radius: 15px;
  background: white;
}